h1 {
    font-size: 30px;
    color: #000;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: #000;
}
